*{ 
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}    

body{
    margin: 50px;
    height: 667px;
    width: 375 px;
    overflow: scroll;
    border: ipx solid black;
    background-color: #1A1A1A;
    font-family: Arial, Helvetica, sans-serif;
}

header{
 background-color: #da2a28;
 text-transform: uppercase;
 letter-spacing: 0.4em;
 text-align: center;
 text-shadow: 1px 1px 0px white;
 
 }
 
 main{
     color: white;
 }

 h1{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }
 h2{ 
     text-align: center;
     text-shadow: 1px 1px 0px #da2a28;
 }

 h3{
     text-shadow: 1px 1px 0px #da2a28;
     text-align: left;
     }

h4.locatie{
    margin-top: 10px;

}

h5{
    color: white;
    text-shadow: 1px 1px 0px #da2a28;
}

p{
    text-align: center;
}

h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;  
    color: #da2a28                                                                                                                                                                                                                                                     
}

 img.Bloemm.jpg{
     align-content: left;
     
}   

img.IMG_0179-3.jpg{
    align-content: left;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
color: white;
text-decoration: underline;
}
a:active{
    color: #da2a28;
}
h3.cinema{
    text-align: right;
}
a{
    text-align: left;
}
 .bloemenmarkt{
     text-align: left;
     margin: 20px;

 }


     
 


 